=if @user.errors.any?
  %div(id = "error_explanation")
    .alert.alert-error
      %button(type="button" class="close" data-dismiss="alert")
        &times;
      The form contains 
      = pluralize(@user.errors.count, "error")
    %ul
      = @user.errors.full_messages.map do |msg|
        %li
          = msg