= provide(:title, 'Help')
.hero-unit
  %h1 Help page
  %h2 Simple Task Manager
  %hr
  %p.lead
    You should 
    =link_to "Sign in", "#"
    or 
    =link_to "Sign up", sign_up_path
    for use Simple Task Manager