%h1 Home#index
%h1 Thank you to use Task Mananger
%p Find me in app/views/home/index.html.haml

= link_to "Users", users_path
= link_to "Story", stories_path
= link_to "Story Comments", story_comments_path